[Unit]
Description=Simple Syslog Service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/opt/syslogd/bin/syslogd --no-stdout --syslog=udp://localhost:1514

[Install]
WantedBy=default.target
